<div class="profile">

 
      <% unless @user.images.empty? %>
        <div class="show_image" summary="User images">
          <ul>
            <%= render @images %>
          </ul>
        </div>
      <% end %>
    <div class="sidebar">
      <strong>Name</strong> <%= @user.email %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Images</strong> <%= @user.images.count %>
    </div>
    <div class="clear"></div>
    <%= link_to "Add images", "/images/new" %>
</div>
