<!DOCTYPE html>
<html>
<head>
  <title>LoginApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if signed_in? %>
    <%= link_to "Sign out", log_out_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
